@import "./modules/flange.scss";
@import "./modules/ElementCreator.scss";
@import "./modules/App.scss";
@import "./modules/ElementList.scss";

html{
    box-sizing:border-box;
  }
  
  *,
  *:before,
  *:after{
    box-sizing:inherit;
  }


.header{
    color: rgb(99, 89, 89);

}

.main{
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}